<odoo>
    <menuitem id="education_menu_root" name="Education Management"/>

    <menuitem id="course_menu" name="Courses" parent="education_menu_root" action="action_course_tree" sequence="10"/>
    <record id="action_course_tree" model="ir.actions.act_window">
        <field name="name">Courses</field>
        <field name="res_model">edu.course</field>
        <field name="view_mode">tree,form</field>
    </record>

    <menuitem id="teacher_menu" name="Teachers" parent="education_menu_root" action="action_teacher_tree" sequence="20"/>
    <record id="action_teacher_tree" model="ir.actions.act_window">
        <field name="name">Teachers</field>
        <field name="res_model">edu.teacher</field>
        <field name="view_mode">tree,form</field>
    </record>

    <menuitem id="student_menu" name="Students" parent="education_menu_root" action="action_student_tree" sequence="30"/>
    <record id="action_student_tree" model="ir.actions.act_window">
        <field name="name">Student List</field>
        <field name="res_model">edu.student</field>
        <field name="view_mode">tree,form</field>
    </record>

    
    <menuitem id="group_menu" name="Groups" parent="education_menu_root" action="action_group_tree" sequence="40"/>
    <record id="action_group_tree" model="ir.actions.act_window">
        <field name="name">Groups</field>
        <field name="res_model">edu.group</field>
        <field name="view_mode">tree,form</field>
    </record>
    
</odoo>
